// Слайдер ====================================================================================================================================================
.info-sl__slider  {
	display: flex;
	align-items: center;
}
.info-sl__slider .slick-list {
	// position: relative;
}
.info-sl__slider button {
	font-size: 0;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-sl__slider button:before {    
	content:'';
	float: left;
	width: 8px;
	height: 12px;
	background-position: 0 0;
  background-repeat: no-repeat; 
}
.slick-prev {
	left: -2.5%;
}
.slick-prev:before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiPg0KICA8aW1hZ2UgaWQ9ImNoZXZyb24tcmlnaHQiIHdpZHRoPSI4IiBoZWlnaHQ9IjEyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUFnQUFBQU1DQVlBQUFCZm52eWRBQUFBQkhOQ1NWUUlDQWdJZkFoa2lBQUFBRTVKUkVGVUdGZGpaTUFPT2hnWUdQZ1pHQml5R0xISWd5VExvZUwyNkFxUUpiTVlHQmltSXl2QWtBU1pBbE9BVlJLbUFLY2swUXBBQ3ZGYUFmTXBYa2ZpVkVRb29DeXhLWUM1Q1VSWEFBQ2lUUlNFSXRmbmNnQUFBQUJKUlU1RXJrSmdnZz09Ii8+DQo8L3N2Zz4NCg==');
}
.slick-next {
	right: -2.5%;
}
.slick-next:before {
 background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiPg0KICA8aW1hZ2UgaWQ9ImNoZXZyb24tcmlnaHRf0LrQvtC/0LjRjyIgZGF0YS1uYW1lPSJjaGV2cm9uLXJpZ2h0INC60L7Qv9C40Y8iIHdpZHRoPSI4IiBoZWlnaHQ9IjEyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUFnQUFBQU1DQVlBQUFCZm52eWRBQUFBQkhOQ1NWUUlDQWdJZkFoa2lBQUFBRkZKUkVGVUdGZGpaSUNBRGdZR0JuNEdCb1lzQmdhRy8xQXhNTVhJd01CZ3djREFjQndxT0FOZEVVZ0JDR1F5TURCTXc2WUlwZ0NuSW1RRldCV2hLOEJRUkxJQ0RNY1M3VWk4M2lRcW9IQUdOUUFtSkIwOXo3MEpXQUFBQUFCSlJVNUVya0pnZ2c9PSIvPg0KPC9zdmc+DQo=');
}

.slider__item img {
	position: relative;
	max-width: 100%;
	object-fit: cover;
}

.info-sl__discounts {
	position: absolute;
	top: 39%;
	left: -2.5%;
	z-index: 500;
	font-family: Pobeda;
	font-size: 47.18px;
	font-weight: 700;
	background: #F5E11E;
	height: 78px;
	width: 338px;
	padding-left: 20px;
	display: flex;
	// justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
}
.info-sl__text-new {
	position: absolute;
	top: 14.5%;
	left: 19%;
	max-width: 280px;
	width: 100%;
}
.info-sl__text-new h1 {
	color: #F4FBF5;
	margin-bottom: 20px;
}
.info-sl__text-new p {
	color: #000;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
}
.info-sl__text-new:before {
// 	content:'';
// 	position: absolute;
// 	bottom: -2%;
// 	left: 43.5%;
// 	width: 361px;
// 	height: 1px;
// 	background-position: 0 0;
//   background-repeat: no-repeat; 
//   background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzYxIiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCAzNjEgMSI+DQogIDxnIGlkPSJfLl8uXy5f0LrQvtC/0LjRj18xMiIgZGF0YS1uYW1lPSIuIC4gLiDQutC+0L/QuNGPIDEyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzM1IC00MjUpIj4NCiAgICA8ZyBpZD0iXy5fLl8uX9C60L7Qv9C40Y9fMTItMiIgZGF0YS1uYW1lPSIuIC4gLiDQutC+0L/QuNGPIDEyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzUgNDI1KSI+DQogICAgICA8aW1hZ2UgaWQ9Il8uXy5fLiIgZGF0YS1uYW1lPSIuIC4gLiIgd2lkdGg9IjM2MSIgaGVpZ2h0PSIxIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQVdrQUFBQUJDQVlBQUFBY3ExL05BQUFBQkhOQ1NWUUlDQWdJZkFoa2lBQUFBQ05KUkVGVU9FOWpaR0JnK00vQXdNRElBQUdqN05Gd0dFMERvMmxnTkEwTW9qUUFBT1pWZVFGQTBVSWZBQUFBQUVsRlRrU3VRbUNDIi8+DQogICAgPC9nPg0KICAgIDxwYXRoIGlkPSJDb2xvcl9PdmVybGF5IiBkYXRhLW5hbWU9IkNvbG9yIE92ZXJsYXkiIGQ9Ik03MzUsNDI2di0xaDM2MXYxWiIvPg0KICA8L2c+DQo8L3N2Zz4NCg==');
// }
			content:'....................';
			position: absolute;
			right: 23%;
			bottom: -2%;
			font-size: 15px;
			color: #000;
}
// Двойной Слайдер выбора товаров ====================================================================================================================================================
.select-prod {
	padding-top: 30.8px;
}
.select-prod .breadcrumb {
	padding-left: 0;
	margin-bottom: 19px;
}
.select-prod .breadcrumb a {
	color: #d3820f;
}
.select-prod h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 35px;
	margin-bottom: 30.5px;
}
.select-prod-block {
	justify-content: space-between;
}
.select-prod-sl {
	// border: 0.4px solid #c7c9cb;
	display: flex;
	justify-content: space-between;
	max-width: 554px;
	width: 100%;
}
.select-slider-big {
	max-width: 457px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
	// margin-bottom: 25px;
}
.select-slider-big__item {
	// text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
}
.select-slider-big__item img {
    max-width: 100%;
}
.select-prod-slider {
	width: 66px;
	height: 273px;
	display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
}
.select-prod-slider.slick-slider .slick-list {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    height: 100% !important;
}
.select-prod-slider__item {
	max-width: 100px !important;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 70px;
	border-bottom: 1px solid #EAEAEA;
}
.select-prod-slider__item:last-child {
	border-bottom: none;
}
.select-prod-slider__item img {
	// max-width: 100px;
	// max-height: 100px;
}
.select-prod-slider.slick-slider .slick-track {
	width: 100% !important;
	flex-direction: column;
	justify-content: space-between;
  height: 100% !important;
}
.sl-big__icon-img {
	position: absolute;
	right: 25px;
	z-index: 5;
}
.sl-big__icon-sale .sl-big__sale {
	top: 80px;
}
.select-prod-slider__item img {
	max-width: 100%;
  object-fit: cover;
}
.select-prod-slider__item.slick-slide img {
	opacity: 0.5;
}
.select-prod-slider__item.slick-slide.slick-current img {
	opacity: 1;
}