//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: "Pobeda";
	src: url("../fonts/pobeda-bold.eot");
	src: local("☺"), url("../fonts/pobeda-bold.woff") format("woff"), url("../fonts/pobeda-bold.ttf") format("truetype"),
	url("../fonts/pobeda-bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Jost";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1141;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	background: #f5f5f5;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	a {
		color: #000;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 46.66px;
	font-weight: 700;
	line-height: 55.99px;}
h2 {
	font-size: 30px;
	line-height: 36px;}
h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 28.8px;}
// h4 {
// 	font-size: 25px;
// 	font-weight: 500;
// 	line-height: 38px;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// position: relative;
	&.loaded {
	}
}
section {
	flex: 1 1 auto;}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "cards.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================

//====================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================
@media (max-width: 1100px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.icon-menu {
		display: block;
	}
	.menu__body {
		display: none;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	}
